<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-decoration-none" href="/">
            brasov.bike.trails
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <p class="nav-link" aria-current="page" >Difficulty: </p>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn difficulty-level-button" aria-current="page">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn difficulty-level-button" aria-current="page">Easy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn difficulty-level-button" aria-current="page">Medium</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn difficulty-level-button" aria-current="page">Hard</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 