<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center text-decoration-none">
            brasov.bike.trails
        </a>
    </div>
</nav>      